.bc-filter-object-tree {
  height: 100%;
  position: relative;

  ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    li {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      font-size: 12px;
    }
  }

  span.icon {
    font-family: element-icons !important;
    *zoom: 1;
    display: inline-block;
    width: 16px;
    height: 16px;
  }

  span.space5 {
    display: inline-block;
    width: 5px;
  }

  .object-container-header {
    height: 40px;
    line-height: 40px;
    padding-left: 9px;
    padding-right: 9px;
    position: relative;

    input[type="text"] {
      height: 28px;
      border: 0;
      padding-left: 2px;
      padding-right: 28px;
      width: 100%;
      outline: none;
    }

    .fuzzy-search {
      display: block;
      margin-right: 52px;
      font-weight: normal;
      position: relative;
    }

    .fuzzy-search input[type="text"] {
      line-height: 26px;
      border: 1px solid #c9c9c9;
      border-radius: 4px;
      font-size: 12px;
    }

    @mixin fuzzy-search-icon {
      position: absolute;
      cursor: pointer;
      line-height: 16px;
      &:hover {
        color: #409eff;
      }
    }

    .bc-query-icon {
      top: 12px;
      right: 5px;
      @include fuzzy-search-icon;

      &:before {
        content: "\e778";
      }
    }

    .bc-refresh-icon {
      top: 12px;
      right: 29px;
      @include fuzzy-search-icon;

      &:before {
        content: "\e6d0";
      }
    }

    .bc-brush-icon {
      top: 12px;
      right: 3px;
      @include fuzzy-search-icon;

      &:before {
        content: "\e6d7";
      }
    }


  }

  .object-container-body {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;

    .bd-object-tree {
      float: left;
      min-width: 100%;
      text-align: left;
    }

    .bd-object-tree-node {
      white-space: nowrap;
      line-height: 36px;
    }

    .bd-object-tree-node:hover,
    .bd-object-tree-node.selected {
      background-color: #d6d9da;
    }


    .bd-object-tree-node .node-text {
      vertical-align: middle;
      display: inline-block;
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .bd-object-tree-node .checkbox {
      display: inline-block;
      *zoom: 1;
      position: relative;
      border: 1px solid #dcdfe6;
      border-radius: 2px;
      box-sizing: border-box;
      width: 15px;
      height: 15px;
      background-color: #fff;
      vertical-align: middle;
      transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);

      &.uncheck:before {
        position: absolute;
        box-sizing: content-box;
        content: "";
        border: 1px solid #4fab22;
        border-left: 0;
        border-top: 0;
        height: 7px;
        left: 4px;
        top: 1px;
        transform: rotate(45deg) scaleY(0);
        width: 3px;
        transition: transform .15s ease-in .05s;
        transform-origin: center;
      }

      &.half-check {
        background-color: #409eff;
        border-color: #409eff;

        &:before {
          content: "";
          position: absolute;
          display: block;
          background-color: #fff;
          height: 2px;
          transform: scale(.5);
          left: 0;
          right: 0;
          top: 5px;
        }
      }

      &.all-check {
        background-color: #409eff;
        border-color: #409eff;

        &:before {
          box-sizing: content-box;
          content: "";
          border: 1px solid #fff;
          border-left: 0;
          border-top: 0;
          height: 7px;
          left: 4px;
          position: absolute;
          top: 1px;
          transform: rotate(45deg) scaleY(1);
          width: 4px;
          transition: transform .15s ease-in .05s;
          transform-origin: center;
        }
      }
    }

    .bd-object-tree-load-more {
      line-height: 25px;
      text-align: center;
      color: #999999;
    }

    .bd-object-tree-folder {
      display: inline-block;
      *zoom: 1;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }

    .bd-object-tree-node-indent {
      display: inline-block;
      width: 9px;
      height: 9px;
    }

    .bd-object-tree-folder-expanded-icon, .bd-object-tree-folder-collapsed-icon {
      font-weight: bold;
      cursor: pointer;
      font-size: 15px;
      line-height: 16px;
      color: #868686;
      transform: rotate(0deg);
      transition: transform .3s ease-in-out;
      transform-origin: center;
      box-sizing: content-box;
      vertical-align: middle;

      &:before {
        content: "\e791";
      }
    }

    .tree-folder-expanded-loading-icon {
      font-size: 16px;
      line-height: 16px;
      color: #868686;
      animation: rotating 2s linear infinite;
      transform-origin: center;
      box-sizing: content-box;
      vertical-align: middle;

      &:before {
        content: "\e6cf";
      }
    }

    .bd-object-tree-folder-expanded-icon {
      transform: rotate(90deg);
    }

    $fetch-tip-font-size: 14px;

    .bc-control-error, .bc-control-loading, .bc-control-info {
      position: absolute;
      margin-top: -0.5 * $fetch-tip-font-size;
      top: 50%;
      left: 0;
      right: 0;
      font-size: $fetch-tip-font-size;
      text-align: center;
      z-index: 3;
    }
  }
}
