@import '~element-ui/packages/theme-chalk/src/mixins/mixins.scss';
@import "~element-ui/packages/theme-chalk/src/common/var.scss";

@include b(drop-down-tree) {
  display: inline-block;
  position: relative;
  font-size: $--font-size-base;
  line-height: $--input-height;

  &:not(.is-disabled):hover {
    .el-input__inner {
      cursor: pointer;
      border-color: $--input-hover-border;
    }
  }

  .el-input {
    cursor: pointer;

    .el-input__inner {
      text-overflow: ellipsis;

      &:focus {
        border-color: $--input-focus-border;
      }
    }

    .el-icon-arrow-down {
      transition: transform .3s;
      font-size: 14px;

      @include when(reverse) {
        transform: rotateZ(180deg);
      }
    }

    .el-icon-circle-close:hover {
      color: $--input-clear-hover-color;
    }

    @include when(focus) {
      .el-input__inner {
        border-color: $--input-focus-border;
      }
    }
  }

  @include m(medium) {
    font-size: $--input-medium-font-size;
    line-height: $--input-medium-height;
  }

  @include m(small) {
    font-size: $--input-small-font-size;
    line-height: $--input-small-height;
  }

  @include m(mini) {
    font-size: $--input-mini-font-size;
    line-height: $--input-mini-height;
  }


  @include e(tags) {
    position: absolute;
    left: 0;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    line-height: normal;
    text-align: left;
    box-sizing: border-box;

    .el-tag {
      display: inline-flex;
      align-items: center;
      max-width: 100%;
      margin: 2px 0 2px 6px;
      text-overflow: ellipsis;
      background: $--cascader-tag-background;

      &:not(.is-hit) {
        border-color: transparent;
      }

      > span {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .el-icon-close {
        flex: none;
        background-color: $--color-text-placeholder;
        color: $--color-white;

        &:hover {
          background-color: $--color-text-secondary;
        }
      }
    }
  }

}
